body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  background-color:lavender;
}

div.mainBox {
  background-color: white;
}

div.aussage p {
  color: #122a70;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #1f43b1;
  background-color: #abc1ff;
  border-radius: 4px;
  padding: 20px 10px;
  margin: 10px 0px;
}

span#slack {
  font-weight: bold;
  color: #525252;
}

div.disclaimer {
  border: 1px solid #ababab;
  background-color: #efefef;
  padding: 3px 20px;
}

img.powered {
  width: 150px;
}

div.powered {
  padding-top: 20px;
  width: 150px;
  margin-left: auto;
  margin-right: 0;
}

div.startButton {
  width: 100px;
  margin: auto;
}

div.button startButton {
  width: 100px;
}

div.button a {
  text-decoration: none;
}

fieldset.answer-section {
  margin-top: 15px;
}

fieldset.answer-section legend{
  font-weight: bold;
  color: black;
}

div.good, div.perfect {
  color: #628354;
  font-weight: bold;
  background-color: #e1ffd5;
  border: 1px solid #628354;
  border-radius: 4px;
}

div.meh {
  color: #808044;
  font-weight: bold;
  background-color: #FFFFE0;
  border: 1px solid #808044;
  border-radius: 4px;
}

div.alarm, div.bad {
  color: #8a1515;
  font-weight: bold;
  background-color: #ffdfdf;
  border: 1px solid #8a1515;
  border-radius: 4px;
}

div.explanation {
  text-align: justify;
  line-height: 120%;
}